:root {
  --primary-color: #4C585B;
  --secondary-color: #7E99A3;
  --tertiary-color: #A5BFCC;
  --quarterary-color: #F4EDD3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  z-index: 0;
  /* Remove Scrollbar for Edge, Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Remove Scrollbar for Chrome, Safari, Opera */
*::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  /* color: var(--quarterary-color); */
}