.siteFrame {
    width: 100%;
    height: 100%;
}

.slideFrame {
    width: 100%;
    height: 100%;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
}

.slideWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-snap-align: start;
}

.siteHeader {
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 1;
    border: 1px solid black;
}

.siteSidebar {
    width: auto;
    height: 100%;
    position: fixed;
    z-index: 1;
    right: 0%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 90px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.pageLines {
    width: 5px;
    height: 95%;
    background-color: var(--secondary-color);
    border-radius: 3px;
}

.pageCircles {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    border: 2px solid var(--secondary-color);
    margin: 10px 0 10px 0;
}

.pageCircles:hover {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

.titleSlide {
    background-color: var(--primary-color);
}

.aboutSlide {
    background-color: var(--primary-color);
}

.gallerySlide {
    background-color: var(--primary-color);
}