.slideFrame {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slideWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.siteOverlay {
    position: absolute;
    
}

.titleSlide {
    position: absolute;
    right: 0%;
}

.aboutSlide {
    position: absolute;
    visibility: hidden; /* Element Hidden */
}

.gallerySlide {
    position: absolute;
    visibility: hidden; /* Element Hidden */
}