.siteFrame {
    width: 100%;
    height: 100%;
}

.slideFrame {
    width: 100%;
    height: 100%;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
}

.slideWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-snap-align: start;
}

.siteHeader {
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 1;
    border: 1px solid black;
}

.siteSidebar {
    width: auto;
    height: 100%;
    position: fixed;
    z-index: 1;
    right: 0%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 90px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.pageLines {
    width: 5px;
    height: 95%;
    background-color: var(--secondary-color);
    border-radius: 3px;
}

.pageCircles {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    border: 2px solid var(--secondary-color);
    margin: 10px 0 10px 0;
}

.pageCircles:hover {
    border-color: var(--tertiary-color);
}

.titleSlide {
    background-color: var(--primary-color);
}

.titleContent {
    width: 70%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: repeat(2, 50%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.profileImageGrid {
    grid-area: 1 / 1 / 2 / 2;
    padding: 10%;

    /* background-color: white; */
}

.profileImage {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.socialLinksGrid {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 38px;
    font-weight: 300;

    /* background-color: gainsboro; */
}

.socialLinksWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 35px 20px;
    padding: 2px 0;
}

.socialLinksWrapper:hover {
    /* background-color: var(--tertiary-color); */
    color: var(--tertiary-color);
}

.socialLogos {
    height: 34px;
    margin-right: 12px;
}

.aboutTextGrid {
    grid-area: 1 / 2 / 3 / 3;
    padding: 5%;
    margin-left: 2%;

    /* background-color: blue; */
}

.aboutTextGrid p {
    font-size: 3.2vh;
    text-align: justify;
    font-weight: 300;
}

.aboutTextGrid h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 400;
}

.aboutTextWrapper {
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5%;
    border-radius: 10px;
}

.aboutSlide {
    background-color: var(--primary-color);
}

.gallerySlide {
    background-color: var(--primary-color);
}

/* For Mobile/Small Devices */

@media screen and (max-width: 1050px) {
    .titleContent {
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    .slideFrame {
        scroll-snap-type: none;
        scroll-snap-stop: none;
    }

    .slideWrapper {
        height: auto;
    }
    
    .siteSidebar {
        display: none;
    }

    .titleContent {
        display: block;
    }

    .profileImageGrid {
        padding: 14% 10% 0 10%;
    }

    .socialLinksWrapper {
        margin: 35px 10%;
    }

    .aboutTextGrid {
        padding: 0;
        margin-left: 0;
        margin-top: 15%;
        margin-bottom: 35%;
    }

    .aboutTextGrid p {
        font-size: 3vh;
        text-align: left;
    }
    
    .aboutTextGrid h1 {
        font-size: 30px;
    }
}
