.siteFrame {
    width: 100%;
    height: 100%;
}

.slideFrame {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.slideWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.siteOverlay {
    position: fixed;
    z-index: 1;
}

.titleSlide {
    background-color: aqua;
}

.aboutSlide {
    background-color: blue;
}

.gallerySlide {
    background-color: indianred;
}